* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('darkb.jpg');
    color: rgb(170, 158, 158);
  }

  #home h2, #home p {
    color: white;

  }

  section {
    min-height: 100vh;
    padding: 5em 10%;
    justify-content: center;
    text-align: center;
  }

  section:nth-of-type(2) {
    background-image: url('darkb.jpg');
  }

  section:nth-of-type(3) {
    background-image: url('darkb.jpg');
  }

  .navbar {
    height: 70px;
    background-color: #2429418c;
  }

  .navbar .nav-link {
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
  }
    .nav-link:hover {
      background-color: #776d88;  
    }
   
  .navbar .nav-link:hover {
    color: rgb(21, 26, 29);
    
  }

  .logo-img {
    width: 7%;
    height: auto;
  }

  .portfolio-text {
font-size: 50px;
font-weight: bold;
}

.port {
color: rgb(104, 108, 112); 
font-weight: bold;
}

.intro-text h2 {
font-size: 40px;
}

.p1 {
font-size: 20px;
font-weight: bold;
}

.p2 {
font-size: 18px;
font-weight: normal;
}

  .project-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    height: 300px;
    box-shadow: 0 10px 20px rgba(224, 167, 9, 0.986);
  }

  .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-card .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .project-card:hover .description {
    opacity: 1;
  }

  .my-projects-container {
    border: 10px solid #8a8787;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(97, 74, 74, 0.6);
  }

  .my-projects {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .info {
    background: white;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0px 10px 5px rgb(30, 31, 31);
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .response {
    display: none;
    margin-top: 20px;
  }
  
  
#contact-form {
  background-color: #434446; 
  border: 1px solid #6e5f43; 
  border-radius: 10px; 
  padding: 50px; 
  max-width: 500px; 
  margin: auto; 
  box-shadow: 0 4px 6px rgba(173, 104, 94, 0.904); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


#contact-form:hover {
  transform: scale(1.02); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


#contact-form .form-control {
  border: 1px solid #617991; 
  border-radius: 5px; 
  padding: 10px; 
  font-size: 1rem; 
  background-color: #6e6565;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}


#contact-form .form-control:focus {
  border-color: #646769; 
  box-shadow: 0 0 5px rgba(93, 140, 190, 0.5);
  outline: none; 
  
}


#contact-form .btn {
  background-color: #585e64; 
  color: #eedddd; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 1rem; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}


#contact-form .btn:hover {
  background-color: #6b7e92; 
  
}

